<h2 class="page-header">Files</h2>
<a href="/addfiles" type="button" class="btn btn-primary btn-block">Add Files</a>
</br>
{{#each files}}
<div class="well">
    <h4>File Name : {{filename}}</h4>
</div>
<hr>
 {{/each}}


 